[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
cbor = "*"
colorlog = "*"
plumbum = ">=1.6.3"
psutil = "*"
typing = "*"
PyYAML = "*"
Mako = "*"

[dev-packages]

[requires]
python_version = "3.6"
